@import "../../../sass/variable";
@import "../../../sass/mixins";
.payment {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  letter-spacing: 1px;
  padding-top: 10rem;
  &__title {
    color: $color-black-dark;
    margin-bottom: 3rem;
  }
  &__form {
    display: flex;
    flex-direction: column;

    h2 {
      font-weight: normal;
      font-size: 2.8rem;
    }
    &__radio {
      display: flex;
      font-size: 2.3rem;
      font-weight: bold;

      label {
        margin-left: 1rem;
        display: flex;
        align-items: center;
        & > *:first-child {
          margin-right: 1rem;
        }
      }

      &__basic {
        color: $color-primary;
        position: relative;
      }
      &__advanced {
        color: $color-secondary;
        position: relative;
      }
      &__pro {
        color: $color-tertiary;
        position: relative;
      }
      & > *:not(:last-child) {
        margin-right: 4.3rem;
      }
      &__button {
        height: 1.5rem;
        width: 1.5rem;
        border: 2px solid $color-black-dark;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.2s;
      }
      input {
        display: none;
      }
      input:checked ~ label &__button {
        background-color: currentColor;
        border: 2px solid currentColor;
      }
    }
    &__bottom {
      display: flex;
      justify-content: space-between;
      margin-top: 8rem;
      @include respond(phone) {
        flex-direction: column;
      } //600px
      label {
        font-size: 1.375rem;
        font-weight: bold;
        text-transform: uppercase;
      }
      input,
      select {
        margin-top: 0.5rem;
        width: 100%;
        border: 2px solid $color-black-dark;
        padding: 1.2rem 2.3rem;
        font-family: inherit;
        font-size: 1.75rem;
        letter-spacing: 1px;
        &:focus {
          border-bottom: 4px solid $color-payment;
        }
      }
      &__billing {
        flex: 1;
        margin-right: 20rem;
        @include respond(tab-port) {
          margin-right: $margin-big;
        }
        @include respond(phone) {
          margin: 0 0 5rem 0;
        } //600px
      }
      &__creditCard {
        flex: 1;
      }
      &__itemBox > * {
        margin-bottom: 1.5rem;
      }
      &__twoItem {
        display: flex;
        justify-content: space-between;
        & > *:nth-child(n) {
          flex: 1;
          &:not(:last-child) {
            margin-right: 2rem;
          }
        }
      }
    }
    .submit {
      display: none;
    }
  }
  .serviceTerm {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    small {
      width: 50%;
      font-size: 1.375rem;
      line-height: 1.5;
      margin-bottom: 3rem;
      @include respond(phone) {
        width: 100%;
      } //600px
      a {
        text-decoration: none;
        color: $color-payment;
        font-weight: bold;
      }
    }
  }
}
