// COLORS
$color-primary: #d24848;
$color-secondary: #ffb33f;
$color-tertiary: #1fe1e9;
$color-quaternary: #5e33d1;
$color-payment: #2f1fe9;

$color-grey: #0000005c;

$color-white: #fff;
$color-black: #191919;
$color-black-dark: #000;

// FONT
$default-font-size-h1: 4.6rem;
$default-font-size-h2: 3.18rem;
$default-font-size-p: 2.18rem;

// MARGIN
$margin-big: 10rem;
$margin-mid: 6rem;
$margin-small: 3rem;
