.yellow {
  position: relative;
  overflow: hidden;
  height: 100vh;
  background-color: #ffb33f;
  color: white;
  padding: 0 10rem;
  display: flex;
  // background-image: url(../../../assets/Image_4@2x.png);
  background-position: center right;
  background-size: 145%;
  &__right {
    flex: 4;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    color: #ffb33f;
    margin-left: 3rem;
  }
  &__left {
    flex: 3;
  }
  .btn__try {
    position: absolute;
    top: 4rem;
    right: 4rem;
  }
}
