.section {
  position: relative;
  height: 100vh;
  width: 100%;
  color: white;
  overflow: hidden;
  padding: 4rem 10rem 10rem 10rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  @media only screen and (max-width: 37.5em) {
    padding: 4rem 5rem 10rem 5rem;
    height: fit-content !important;
    flex-direction: column;

    & > *:last-child {
      margin-top: 5rem;
      height: fit-content;
    }
  } //600px
}
