@import "../../sass/variable";
@import "../../sass/mixins";
.section {
  position: relative;
  height: 100vh;
  width: 100%;
  color: $color-white;
  overflow: hidden;
  padding: 4rem 10rem 10rem 10rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  @include respond(phone) {
    padding: 4rem 5rem 10rem 5rem;
    height: fit-content !important;
    flex-direction: column;

    & > *:last-child {
      margin-top: $margin-mid;
      height: fit-content;
    }
  } //600px
}
