.hook {
  &__left {
    flex: 3;
    h1 {
      color: #d34848;
      letter-spacing: 5px;
    }
    h2 {
      color: white;
      font-weight: lighter;
      letter-spacing: 1px;
    }
  }
  &__right {
    flex: 2;
    text-align: center;
  }
}
