@import "../../../sass/variable";
@import "../../../sass/mixins";
.hook {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-top: $margin-big;
  @include respond(tab-port) {
    flex-direction: column;
  }
  &__left {
    flex: 3;
    h1 {
      color: $color-primary;
      letter-spacing: 5px;
    }
    h2 {
      color: $color-white;
      font-weight: lighter;
      letter-spacing: 1px;
    }
  }
  &__right {
    flex: 2;
    text-align: center;
    @include respond(tab-port) {
      margin-top: $margin-small;
    }
  }
}
