@import "../../../sass/variable";
@import "../../../sass/mixins";
.pricing {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  letter-spacing: 1px;

  margin-top: $margin-big;

  .title {
    font-size: 5.5rem;
    margin-bottom: $margin-small;
  }
  .subtitle {
    color: $color-white;
    font-size: $default-font-size-h2;
    margin-bottom: $margin-mid;
  }
  .plans {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    @include respond(phone) {
      flex-direction: column;
      margin: 0 auto;
      & > *:not(:last-child) {
        margin: 0 0 $margin-mid 0;
      }
    } //600px
  }
}
