@import "./sass/variable";
h1 {
  text-transform: uppercase;
  font-size: $default-font-size-h1;
  margin-bottom: 1rem;
  color: $color-white;
}
h2 {
  font-size: $default-font-size-h2;
  color: $color-black-dark;
  margin-bottom: 2rem;
}
