.cursor {
  z-index: 3000;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  border: 1px solid #fff;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  content: "click";
  text-transform: uppercase;
  color: #fff;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 2px;
  &:active {
    transform: scale(1.01);
    border: 2px solid #fff;
  }
}
