@import "../../../sass/variable";
@import "../../../sass/mixins";
.btn {
  align-self: flex-end;
  justify-self: start;
  color: $color-primary;
  &__try {
    color: inherit;
  }
}
.red {
  display: flex;
  height: 100%;
  margin-top: $margin-big;
  @include respond(phone) {
    flex-direction: column;
    & > *:last-child {
      margin-top: 5rem;
    }
  }
  &__left {
    width: 100%;
    height: 100%;
    display: flex;
    flex: 4;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    color: $color-primary;
  }
  &__right {
    position: relative;
    cursor: pointer;
    overflow: hidden;
    width: 100%;
    height: fit-content;
    align-self: center;
    flex: 3;
    display: flex;
    align-items: center;
    justify-content: space-around;
    img {
      width: 40%;
      height: auto;
      &:hover ~ .cursor {
        content: "click";
      }
    }
    .img {
      &__left {
        margin-bottom: 5rem;
      }
      &__right {
        margin-top: 5rem;
      }
    }
  }
  .btn__try {
    position: absolute;
    top: 4rem;
    right: 4rem;
    @include respond(phone) {
      right: 1rem;
      transform: scale(0.7);
    }
  }
}
.cursor {
  z-index: 3000;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  border: 1px solid $color-white;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  content: "click";
  text-transform: uppercase;
  color: $color-white;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 2px;
  &:active {
    transform: scale(1.01);
    border: 2px solid $color-white;
  }
}
