@import "../../../sass/variable";
@import "../../../sass/mixins";
.review {
  &__title {
    font-size: $default-font-size-p;
    text-transform: uppercase;
    margin-bottom: 1rem;
    color: $color-white;
  }
  q {
    font-size: $default-font-size-p;
    color: $color-black;
    line-height: 1.6;
  }
  &__stars {
    margin-bottom: 3rem;
    & > *:not(:last-child) {
      margin-right: 5px;
    }
  }
}
