@import "../../../sass/variable";
@import "../../../sass/mixins";
.perk {
  &__title {
    &:before {
      content: " ";
      background-color: currentColor;
      height: 2px;
      width: 8rem;
      display: block;
      margin-bottom: 2rem;
    }
  }
  &__text {
    font-size: $default-font-size-p;
    color: inherit;
  }
}
