.perks {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  @media only screen and (max-width: 37.5em) {
    padding: 15rem 5rem 10rem 5rem;
    height: fit-content;
  } //600px

  h1 {
    margin: 3rem 0;
  }
  .content {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    line-height: 1.2;
    @media only screen and (max-width: 37.5em) {
      flex-direction: column;
    } //600px
    & > *:not(:last-child) {
      margin-right: 6rem;
      @media only screen and (max-width: 37.5em) {
        margin: 0 0 6rem 0;
      } //600px
    }
    h2 {
      &:before {
        content: " ";
        background-color: currentColor;
        height: 2px;
        width: 8rem;
        display: block;
        margin-bottom: 2rem;
      }
    }
    .item {
      &__red {
        color: #d34848;
      }
      &__blue {
        color: #1fe1e9;
      }
      &__yellow {
        color: #ffb33f;
      }
    }

    p {
      font-size: 2.2rem;
      color: white;
    }
  }
}
