@import "../../../sass/variable";
@import "../../../sass/mixins";
.btn {
  align-self: flex-end;
  justify-self: start;
  height: 10rem;
}
.perks {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  margin-top: $margin-mid;
  h1 {
    margin-bottom: $margin-mid;
  }
  .content {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    line-height: 1.2;
    @include respond(phone) {
      flex-direction: column;
    } //600px
    & > *:not(:last-child) {
      margin-right: $margin-mid;
      @include respond(phone) {
        margin: 0 0 $margin-mid 0;
      } //600px
    }
  }
}
